platform: linux

image_resource:
  type: docker-image
  source:
    repository: alpine
    tag: latest

inputs:
  - name: target
  path: test-api-master
outputs:
  - name: target2 

run:
  path: sh
  args:
  - -exc 
  - |
    mv target/demo-0.0.1-SNAPSHOT.jar target2/demo-0.0.1-SNAPSHOT.jar
