platform: linux

image_resource:
  type: docker-image
  source:
    repository: maven 
    tag: latest

inputs:
  - name: SpringBootExample

run:
  path: "SpringBootExample/test-api-master/mvnw"
  args: ["-f", "SpringBootExample/pom.xml", "-Dmaven.test.skip=true", "package"]

params:
  MAVEN_BASEDIR: SpringBootExample

