platform: linux

image_resource:
  type: docker-image
  source:
    repository: maven 
    tag: latest

inputs:
  - name: SpringBootExample

outputs:
  - name: target
# - path: test-api-master

run:
  path: "mvn"
  args: ["-f", "SpringBootExample/test-api-master/pom.xml", "-Dmaven.test.skip=true", "package"]

params:
  MAVEN_BASEDIR: SpringBootExample/test-api-master

